/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Color styles */
  --orange: rgba(255, 92, 0, 1);
  --gris: rgba(51, 51, 51, 1);
  --vert: rgba(62, 83, 56, 1);
  --bleu: rgba(42, 64, 76, 1);
  --blanc: rgba(250, 255, 255, 1);

  /* Text-size styles */
  --text-3xl--z-s: 30px;
  --text-2xl--s: 24px;
  --text--base--s: 16px;
  --text-sm--s: 14px;
  --text-xs--s: 14px;
  --text-xl--z-s: 20px;
  --text-2xl--z-s: 24px;
  --text-3xl--b-z-s: 30px;
  --text-4xl--z-s: 36px;
  --text-5xl--z-s: 48px;
  --text-6xl--z-s: 60px;
}